<div class="container">
  <h1>My Cookbook</h1>
  <% if @favorites.exists? %>
    <% @favorites.each do |favorite| %>
      <% post = favorite.favoritable %>
      <div class="post">
        <h2><%= link_to post.title, post_path(post) %></h2>
        <p><%= post.body %></p>
        <ul>
          <li><strong>Meal:</strong> <%= post.meal %></li>
          <li><strong>Difficulty:</strong> <%= post.difficulty %></li>
          <li><strong>Cuisine:</strong> <%= post.cuisine %></li>
        </ul>
        <% if current_user == @user %>
          <%= button_to 'Remove', favorite_path(favorite), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end %>
      </div>
      <hr>
    <% end %>
  <% else %>
    <p>No recipes added to the cookbook yet.</p>
  <% end %>
</div>
