<h1>Edit Fork</h1>

<%= bootstrap_form_with model: @fork, local: true do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :body %>

  <div>
    <%= f.label :meal, "Type of Meal" %>
    <%= f.select :meal_tags, options_for_select(['Breakfast', 'Lunch', 'Dinner', 'Dessert', 'Snack'], selected: @fork.tag_list('meal')), include_blank: true, class: 'form-control' %>
  </div>

  <div>
    <%= f.label :difficulty, "Difficulty" %>
    <%= f.select :difficulty_tags, options_for_select(['Easy', 'Medium', 'Hard', 'Expert'], selected: @fork.tag_list('difficulty')), include_blank: true, class: 'form-control' %>
  </div>

  <div>
    <%= f.label :cuisine, "Cuisine" %>
    <%= f.text_field :cuisine_tags, placeholder: 'e.g. American, Italian (separate with commas)', value: @fork.tag_list('cuisine') %>
  </div>

  <div>
    <%= f.label :dietary, "Dietary Restrictions" %>
    <%= f.text_field :dietary_tags, placeholder: 'e.g. Gluten Free, Vegan (separate with commas)', value: @fork.tag_list('dietary') %>
  </div>

  <%= f.submit "Update Fork", class: "btn btn-primary" %>
<% end %>
