<h1>Edit Fork</h1>

<%= bootstrap_form_with model: @fork, url: fork_path(@fork), method: :patch, data: { turbo: false } do |f| %>

  <%= f.text_field :title %>
  <%= f.text_area :body %>
  <%= f.text_field :meal %>
  <%= f.text_field :difficulty %>
  <%= f.text_field :cuisine %>
  <%= f.submit "Update Fork" %>

<% end %>
