<h1><%= @fork.post.title %></h1>

<p>Forked by: <%= @fork.user.email %></p>

<p>Meal: <%= @fork.post.meal %></p>
<p>Difficulty: <%= @fork.post.difficulty %></p>
<p>Cuisine: <%= @fork.post.cuisine %></p>
<p>Description: <%= @fork.post.body %></p>

<% if @fork.image.attached? %>
  <div>
    <%= image_tag @fork.image %>
  </div>
<% end %>
