<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand mb-1" href="#">Munch</a>
    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse"
      id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to 'Posts', posts_path, class: 'nav-link # {active_class(posts_path)} btn btn-link' %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Account Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Top Posts</a>
        </li>
        
              <ul class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Top</a></li>
          <li><a class="dropdown-item" href="#">Newest</a></li>
          <li><a class="dropdown-item" href="#">Hot</a></li>
        </ul>
      </ul>
      </ul>

      <div class="topnav">
      <input type="text" placeholder="Search..">
      </div>


      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Hi, #{current_user.email}", edit_user_registration_path, class: "nav-link #{active_class(edit_user_registration_path)} btn btn-link" %>
          </li>
          <li class="nav-item">
            <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'nav-link btn btn-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In',new_user_session_path, class: "nav-link #{active_class(new_user_session_path)} btn btn-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link #{active_class(new_user_registration_path)} btn btn-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <%= link_to 'Home', posts_path, class: "nav-link #{active_class(posts_path)} btn btn-link" %>
    </li>
</ul>
</ul>
</div>
</div>