<div style="margin: 20px;">
  <h1>Recipes</h1>

<div class="text-right">
  <p>
    Sort by: 
    <%= link_to 'Date', posts_path(sort_by: 'date') %> |
    <%= link_to 'Sweets', posts_path(sort_by: 'likes') %>
  </p>
</div>

  <% @items.each do |item| %>
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title"><%= link_to item.title, item.is_a?(Post) ? post_path(item) : post_fork_path(item.post, item) %></h2>
        <p class="card-text">
          <strong>Difficulty:</strong> <%= item.difficulty %><br>
          <strong>Type Of Meal:</strong> <%= item.meal %><br>
          <strong>Cuisine:</strong> <%= item.cuisine %><br>
          <strong>User:</strong> <%= item.user.email %><br>
          <strong>Date:</strong> <%= item.created_at.strftime("%B %d, %Y") %><br>
          <strong>Sweets:</strong> <%= pluralize(item.likes.count, 'Sweet') %>
        </p>
      </div>
    </div>
    <hr>
  <% end %>
</div>

<p>
  <%= link_to "Create New Recipe", new_post_path, class: 'btn btn-primary' %>
</p>
