<h1>Recipes</h1>

<div class="text-right">
  <p>
    Sort by: 
    <%= link_to 'Date', posts_path(sort_by: 'date') %> |
    <%= link_to 'Sweets', posts_path(sort_by: 'likes') %>
  </p>
</div>

<% @posts.each do |post| %>
  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title"><%= link_to post.title, post_path(post) %></h2>
      <p class="card-text">
        <strong>Difficulty:</strong> <%= post.difficulty %><br>
        <strong>Type of Meal:</strong> <%= post.meal %><br>
        <strong>Cuisine:</strong> <%= post.cuisine %><br>
        <strong>Posted by:</strong> <%= post.user.email %><br>
        <strong>Date:</strong> <%= post.created_at.strftime("%B %d, %Y") %><br>
        <strong>Sweets:</strong> <%= pluralize(post.likes.count, 'Sweet') %>
      </p>
    </div>
  </div>
<% end %>

<p>
  <%= link_to "Create New Recipe", new_post_path, class: 'btn btn-primary' %>
</p>
