<h1>Recipes</h1>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Difficulty</th>
      <th>Type Of Meal</th>
      <th>Cuisine</th>
      <th>User</th>
      <th><%= link_to 'Date', posts_path(sort_by: 'date') %></th>
      <th><%= link_to 'Sweets', posts_path(sort_by: 'likes') %></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.title, item.is_a?(Post) ? post_path(item) : post_fork_path(item.post, item) %></td>
        <td><%= item.difficulty %></td>
        <td><%= item.meal %></td>
        <td><%= item.cuisine %></td>
        <td><%= item.user.email %></td>
        <td><%= item.created_at.strftime("%B %d, %Y") %></td>
        <td><%= pluralize(item.likes.count, 'Sweet') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to "Create New Recipe", new_post_path, class: 'btn btn-primary' %>
</p>
