<h1>Create New Post</h1>

<%= bootstrap_form_with model: @post, url: posts_path, method: :post, local: true, data: { turbo: false } do |f| %>

  <%= f.text_field :title %>
  <%= f.text_area :body %>

  <div>
    <%= f.label :meal_tags, "Meal Tags" %><br>
    <%= f.collection_select :meal_tags, Tag.where(category: 'meal'), :name, :name, {}, { multiple: true } %>
  </div>

  <div>
    <%= f.label :difficulty_tags, "Difficulty Tags" %><br>
    <%= f.collection_select :difficulty_tags, Tag.where(category: 'difficulty'), :name, :name, {}, { multiple: true } %>
  </div>

  <div>
    <%= f.label :cuisine_tags, "Cuisine Tags" %><br>
    <%= f.collection_select :cuisine_tags, Tag.where(category: 'cuisine'), :name, :name, {}, { multiple: true } %>
  </div>

  <div>
    <%= f.label :dietary_tags, "Dietary Restrictions" %><br>
    <%= f.collection_select :dietary_tags, Tag.where(category: 'dietary'), :name, :name, {}, { multiple: true } %>
  </div>

  <div>
    <%= f.label :image, "Upload Image" %>
    <%= f.file_field :image, accept: "image/jpeg,image/png" %>
  </div>
  <%= f.submit "Create Post" %>

<% end %>
