<div class="container mt-5">
  <h1 class="mb-4"><%= @post.title %></h1>

  <div class="sweets-counter mb-3">
    <strong><%= pluralize(@post.likes.count, 'Sweet') %></strong>
  </div>

  <% if current_user %>
    <% if @post.liked_by?(current_user) %>
      <%= button_to 'Unsweet', post_like_path(@post), method: :delete, class: 'btn btn-warning mb-3' %>
    <% else %>
      <%= button_to 'Sweet', post_like_path(@post), method: :post, class: 'btn btn-success mb-3' %>
    <% end %>
  <% end %>

  <ul class="list-group mb-3">
    <li class="list-group-item">Author: <%= @post.user.email %></li>
    <li class="list-group-item">Difficulty: <%= @post.difficulty %></li>
    <li class="list-group-item">Cuisine: <%= @post.cuisine %></li>
    <li class="list-group-item">Meal: <%= @post.meal %></li>
  </ul>

  <h2 class="mb-3">Recipe</h2>
  <p class="mb-3"><%= @post.body %></p>

  <% if @post.favorited_by?(current_user) %>
    <%= button_to 'Remove from Cookbook', post_favorite_path(@post), method: :delete, class: 'btn btn-warning mb-3' %>
  <% else %>
    <%= link_to "Fork this Recipe", new_post_fork_path(@post, title: @post.title, meal: @post.meal, difficulty: @post.difficulty, cuisine: @post.cuisine), method: :get, class: "btn btn-primary mb-3" %>
    <%= button_to 'Add to Cookbook', post_favorite_path(@post), method: :post, class: 'btn btn-success mb-3' %>
  <% end %>

  <hr>

  <h2 class="mb-3">Comments</h2>
  <% @post.comments.each do |comment| %>
    <div class="comment-box mb-3">
      <p><%= comment.user.email %></p>
      <p><%= comment.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
      <p><strong>Comment:</strong> <%= comment.body %></p>

      <% if current_user && comment.user == current_user %>
        <%= button_to 'Delete', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% end %>
    </div>
  <% end %>
  <%= render partial: 'comments/form', locals: { post: @post } %>

  <%= link_to 'Back To Posts', posts_path, class: 'btn btn-outline-secondary mt-3' %>

  <div class="flag-button-container mt-3">
    <% if current_user %>
      <% if current_user.flags.exists?(post_id: @post.id) %>
        <%= button_to 'Unflag', unflag_post_path(@post), method: :post, class: 'btn btn-danger' %>
      <% else %>
        <%= button_to 'Flag this Recipe', flag_post_path(@post), method: :post, class: 'btn btn-warning' %>
      <% end %>
      <span class="flag-count ml-2"><%= @post.flags_count %></span> Flags
    <% end %>
  </div>
</div>